@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(135deg,rgba(166, 190, 209, 1) 0%, rgba(205, 215, 223, 1) 30%, rgba(138, 167, 188, 1) 77%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    text-align: center;
}

.quiz-title {
    font-size: 56px;
    color: #0d273d;
    margin-bottom: 30px;
    font-weight: 800;
}

.quiz-description {
    font-size: 32px;
    color: #0d273d;
    font-weight: 600;
    margin-bottom: 50px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(2, 180px);
    gap: 60px 120px;
    justify-content: center;
}

.category-btn {
    background: #0d273d;
    color: #a6bed1;
    border: none;
    padding: 22px 0;
    border-radius: 18px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.category-btn:hover {
    background: #e6e9eb;
    color: #0d273d;
}